.cartLink{
    font-size: 15px;
    color: #333;
    text-align: right;
    margin-top: 20px;
}
.viewCartLink{
    background-color:#d9d9d9;
    padding:5px;
    border-radius:3px;
}
.paddingTop30{
    padding-top: 30px;
}
.devider{
    background-color: #bfbfbf;
}
.marginTop10{
    margin-top: 10px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop30{
    margin-top: 30px;
}
.marginTop35{
    margin-top: 35px;
}
.errorCheckout {
	font-size: 13px;
	color: red;
	text-align: right;
	width: 100%;
    margin-top: 10px;
    margin-bottom: -25px;
}
