html {
  font-family: Human BBY Web, Arial, Helvetica, sans-serif;
  color: #080808;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

@media only screen and (max-width: 600px) {
  .customContainer {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .customContainer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
